:root{--color-main: #000000;--color-highlight: #0088CC;--color-accent: #34495e;--color-highlight-text: #ffffff}body{color:var(--color-main);font-family:Mulish,Open Sans,sans-serif}a{color:var(--color-highlight);text-decoration:none}
